{% extends "main_site/site_base_normal.html" %}
{% load bootstrap5 %}
{% block content %}
<h2>Visitor registration</h2>
{% if orcid_data is None %}
<a href="{{orcid_login_url | safe}}"><button class="btn btn-secondary mb-3">Register with ORCID</button></a>
<p>Or just fill out the form below.</p>
{% endif %}
<form method="post" class="form">
    {% if orcid_data is not None %}
    <p>You are registering as ORCID {{orcid_data.orcid}}</p>
    <button type="submit" name="action" value="remove_orcid" class="btn btn-danger mb-3" formnovalidate>Remove
        ORCID</button>
    {% endif %}
    {% csrf_token %}
    {% bootstrap_form form %}
    <button type="submit" name="action" value="register" class="btn btn-primary">Register</button>
</form>
{% endblock content %}