<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Registration app</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {# Load the tag library #}
        {% load bootstrap5 %}
        {# Load CSS and JavaScript #}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>
    <body>
        <div class="container">
            {# Display django.contrib.messages as Bootstrap alerts #}
            {% bootstrap_messages %}
            {# Display a form #}
            <h2>Log In</h2>
            <form method="post" class="form">
                {% csrf_token %}
                {% bootstrap_form form %}
                {% buttons %}
                <button type="submit" class="btn btn-primary">Submit</button>
            {% endbuttons %}
        </form>
        {# Read the documentation for more information #}
    </div>
</body>
</html>
